@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;
	font-family: "Helvetica Neue", "Segoe UI Light", sans-serif;
}

body, #container::before{
	background:url("https://source.unsplash.com/collection/561528/2560x1440/") top center /cover;
	background-color: black;
	background-attachment: fixed;
}

/** HEADER **/

.Header h2{
	font-family: "Helvetica Neue", "Segoe UI Light", sans-serif;
	font-weight: 200;
	text-align: left;
	color: rgba(238, 238, 238, 0.90);
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.40);
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(5000%);
}

/** GLASS OVERLAY **/

#overall {
	position:absolute;
	height: 100%;
	display:flex;
	flex-direction: column;
	justify-content:center;
	width: Calc(100% - 30%);
	left: 15%;
}

#container {
	position: relative;
	box-shadow: 0px 0px 40px rgba(20, 20, 20, 0.30);
	border-radius: 5px;
	padding: 35px 20px;
	margin: 15px;
	overflow: hidden;
}

#container::before{
	content: " ";
	filter: blur(18px) contrast(.75) brightness(1.1) saturate(1.5);
	position: absolute;
	display: block;
	top: -30%;
	right: -10%;
	bottom: -30%;
	left:-10%;
	z-index: -1;
}

/** SEARCH BAR **/

#Search {
	font-family: inherit;
	color: white;
	text-align: center;
	transition: width 0.5s ease-in-out, background-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
	background-color: rgba(20, 20, 20, 0.60);
	width: 80px;
	height: 25px;
	max-width:500px;
	padding: 0 15px 3px 15px;
	margin: 0 auto 0 auto;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border: transparent 1px;
	border-radius: 3px;
}

#Search:focus {
	outline: none;
	background-color: rgba(20, 20, 20, 0.80);
	border: 1px transparent;
	width: 100%;
	box-shadow: 0px 5px 10px .1px rgba(0, 0, 0, 0.3);
	color: white;
}

#Search:hover {
	box-shadow: 0px 5px 10px .1px rgba(0, 0, 0, 0.3);
	background-color: rgba(20, 20, 20, 0.80);
	cursor: pointer;
}

#Search:focus:hover {
	cursor: text;
	background-color: rgba(20, 20, 20, 0.80);
}

::-webkit-input-placeholder {
	transition: color 0.3s ease-in-out;
	font-family: inherit;
	font-weight: 200;
	color: #ccc;
}

:focus::-webkit-input-placeholder {
	cursor: text;
	color: #ddd;
}

/** LINK CONTAINER **/

#Links {
	max-width: 1000px;
	padding: 0px;
	border-radius: 3px;
	border: 0px transparent;
	background-clip: border-box;
}

/** HEADER ROW **/

#section .w3-row {
	padding-top: 4px;
	background-color: rgba(20, 20, 20, 0.65);
}

#section .w3-row.a {
	border-radius: 3px 0 0 0;
}

#section .w3-row.d {
	border-radius: 0 3px 0 0;
}

#section h2 {
	font-family: inherit;
	font-weight: 200;
	color: #ccc;
}

/** LINK ROW **/

#section .row{
	background-color: rgba(20, 20, 20, 0.45);
	padding: 2px 0 3px 0;
}

#section .row.a {
	border-radius: 0 0 0 3px;
}

#section .row.d {
	border-radius: 0 0 3px 0;
}

#section a {
	color: #ccc;
	text-decoration: none;
	font-family: inherit;
	font-weight: 300;
}

/*
#section:hover .row{
	transition: background-color 0.2s ease-in-out;
	background-color: rgba(255, 255, 255, 0.75);
	height: 220px;
	border-radius: 0 0 3px 3px;
}
#section:hover .w3-row{
	transition: background-color 0.2s ease-in-out;
	background-color: rgba(20, 20, 20, 0.80);
	height: 70px;
	margin-top: -5px;
	border-radius: 3px 3px 0 0;
}
#section:hover{
	transition: height 0.2s ease-in-out, margin-top 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	box-shadow: 0px 5px 10px .1px rgba(0, 0, 0, 0.3);
	margin-top: -5px;
	margin-bottom: -20px;
	border-radius: 3px;
}*/

/** LINKS **/

ul {
	list-style-type: none;
	text-align: center;
	padding: inherit;
	margin-top: 5px;
}

ul a {
	display: block;
}

ul a:hover {
	text-decoration: none;
	/*text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);*/
	background-color: rgba(20, 20, 20, 0.45);
	transition: 0.2s ease;
	/*transform: scale(1.04);*/
}
